// Your website's CSS

body {
	font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	margin: 0 auto;
	width: 100%;
	a {
		font-size: 20px;
		font-weight: 400;
		color: white;
		line-height: 32px;
		letter-spacing: 0.002em;
		width: 200px;
		text-align: center;
		text-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	// background: #000;
	font-family: -apple-system, BlinkMacSystemFont, "myriad-pro", sans-serif;
	font-weight: 400;
	text-align: center;

	* {
		text-shadow: 0 0 20px rgba(0, 0, 0, .5);
	}

	.logo {
		background: url("../img/ProType.svg");
		background-size: cover;
		width: 200px;
		height: 200px;
	}

	h1,
	h2 {
		color: #e7e7e7;
	}

	p {
		color: white;
	}

	#three-container {
		position: fixed;
		top: 0;
		z-index: -10;
	}

	.scroll {
		font-size: 64px;
		color: white;
		animation: 2s ease 0s scroll infinite;
		position: absolute;
		transform: translateY(-50%);
	}
}
@media (max-width: 800px) {
	header {
		.logo {
			width: 100px;
			height: 100px;
		}
		.scroll {
			display: none;
		}
	}
	h1 {
		font-size: 60px;
	}

	h2 {
		font-size: 30px;
	}
}

h1 {
	font-size: 73px;
	font-weight: 600;
	line-height: 88px;
	letter-spacing: -0.002em;
}

h2 {
	margin-top: -24px;
	font-size: 44px;
	font-weight: 400;
	line-height: 53px;
	letter-spacing: -0.0275em;
	text-align: center;
}

p {
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	line-height: 32px;
	letter-spacing: 0.002em;
	box-sizing: border-box;
	padding: 30px;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
// Article
.container {
	transform: skewY(-10deg);
	background: white;
	box-sizing: border-box;
	margin-top: 150px;
	padding: 100px;

	article {
		transform: skewY(10deg);
		width: 960px;
		max-width: 80%;
		margin: 0 auto;

		&:before {
			content: '';
		}

		h1 {
			text-align: center;
		}

		.install {
			.gist-meta {
				display: none;
			}

			.gist-data,
			table.highlight {
				background: transparent;
				border: none;
			}

			.gist-file {
				border: none;
			}
		}
	}
}
/* TERMINAL - Installation */
.install {
	flex-direction: column;
}

.window {
	width: 80%;
	margin: 0 auto 2rem;
	box-shadow: 0 0.25rem 0.5rem #292929;
	border-radius: 0 0 0.1rem 0.1rem;
	color: white;
}

.bar {
	background: #191919;
	height: 36px;
	border-radius: 0.5rem 0.5rem 0 0;
}

.btn {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	display: block;

	&::after,
	&::before {
		width: 12px;
		height: 12px;
		border-radius: 100%;
		display: block;
	}
	background: #f6b73e;
	position: relative;
	margin-left: 38px;
	top: 12px;

	&::after {
		content: " ";
		position: absolute;
	}

	&::before {
		content: " ";
		position: absolute;
		background: #f55551;
		margin-left: -20px;
	}

	&::after {
		background: #32c146;
		margin-left: 20px;
	}
}

.body {
	height: 5rem;
	// background: #232323;
	background: #fff;
	padding: 18px;

	pre {
		margin: 0;
	}

	.pulse {
		-webkit-animation: pulse 1s ease-in-out infinite;
		-moz-animation: pulse 1s ease-in-out infinite;
		animation: pulse 1s ease-in-out infinite;
	}
}
@keyframes pulse {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.command {
	color: #32c146;
}

.comment {
	opacity: 0.5;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;

	p {
		color: white;
		text-shadow: 0 0 20px rgba(0, 0, 0, .5);

		&.small {
			font-size: 12px;
			opacity: 0.8;
		}
	}
}


@keyframes scroll {
	0%, 100% {
		bottom: 70px
	}

	50% {
		bottom: 48px
	}
}
